@import "../../containers/App/App.scss";

.messages-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    overflow-y: auto;
    color: $primary;
    height: 100%;
    padding: 20px 0 50px 0;

    h2 {
        margin-bottom: 20px;
        font-size: 35px;
        font-weight: 300;
    }
    .message-outside {
        margin: 8px 15px;

        .message-container {

            img {
                width: 40px;
                height: 40px;
                border: 1px solid #c0c0c0;
                border-radius: 3px;
            }

            .message-name {
                font-size: 15px;
                font-weight: 500;

                span {
                    margin-left: 5px;
                    font-size: 12px;
                    color: #7F7F7F;
                    font-weight: 200;
                }
            }

            .message-text {
                padding-left: 10px;
                padding-top: 2px;
                font-weight: 300;
                font-size: 20px;
            }
        }
    }
    .message-input-container{
        bottom:0;
        position:fixed;
        width:50%;
        margin-left: 5px;
        border: 2px solid #c0c0c0;
        padding-left:5px;
        background-color: white;
        @include border-radius(4px)
    }
    form {
        z-index: 1;
        height:50;
        width:100%;
        @include flex-row();
        div:nth-child(1){
            flex-basis:100%;
        }
        .message-btn-container {
            @include flex-column();
            margin-left: 10px;
        }
    }
}
