.compDisplay-display {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin:20px 0;
    height: 100%;

    .compDisplay-main {
        width:100%;

    }

}
