.views-main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
.views-adminWorking {
  width: 75%;

}
.views-compStatus {
  width: 25%;

}
