.message-container{
    display:flex;
}
.room-list-container {
	border-right: 1px solid grey;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 100%;
	width: 220px;
}
.chat-container{
	width:100%;
	overflow: scroll;
	height:100%;
}
.room-container{
	display:flex;
	height:400px;
	// height:700px;
}
.message-input{
	display:flex;
	width:100%;
	flex-flow: row nowrap;
}
.user{
	color:blue;
}
