.compSelect-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1.5px dashed #d1d4d4;
  padding: 20px;
}
.compSelect-status-point {
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.FloatingActionButton1 {
  margin-right: 5px;
}
.compSelect-floating {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 175px;
}
