@import "../../containers/App/App.scss";

.compSelect-main {
    width: 95%;
    flex-flow: row wrap;
    margin: 2px auto;
    padding: 5px 10px;
    border: 2px solid $lightgrey;
    @include border-radius(4px)
}

.compSelect-status-point {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    .compSelect-floating {
        width: 100%;
        margin: 0 0 5px;

        button {
            width: 100%;

            div {
                div {
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;

                    svg {
                        width:10%;
                        float:left;
                        height: 100%;
                        margin-left:0;
                        left:0;
                    }
                }
            }
        }
    }
}
