@import "../App/App.scss";

.adminMain-main {
    height: calc(100vh - 100px);
    width: 100vw;
    overflow: hidden;

    .adminMain-working {
        height:100%;
        > div{
            height:100%;
            padding:0;
            > div{
                height:100%;
                > div {
                    height:100%;
                }
            }
        }
    }
}

.adminMain-users {
    background-color: $sidebar;
}
.adminMain-views {
    // box-shadow: 0 5px 5px grey;
}
// .adminMain-views {
//   display: flex;
//   flex-flow: row nowrap;
//   align-items: stretch;
//   width: 100%;
// }
// .adminMain-selectedUser {
//   text-align: center;
// }
// .views-main {
//   display: flex;
//   flex-flow: row nowrap;
//   justify-content: space-between;
//   align-items: stretch;
//   width: 100%;
// }
// .views-adminWorking {
//   width: 75%;
//
// }
// .views-compStatus {
//   width: 25%;
//
// }
