.adminMain-working {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}
.adminMain-users {
  width: 20%;
}
.adminMain-views {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.adminMain-selectedUser {
  text-align: center;
}
