.adminMain-working {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.adminMain-views {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  width: 100%;
}
.adminMain-selectedUser {
  text-align: center;
}
