$green: #0E4341;
$intake-blue: #003044;
$primary: #003044;
$accent: #D67428;
$darkblue: #032434;
$sidebar: rgba(204, 240, 255, 0.15);
$sidebar2: #39B0E3;

$loginlanding:"../../assets/loginbackground.png";
$logopath:'../../assets/intakenewlogo.png';
$logologin:'../../assets/intakelogin.png';

@mixin border-radius( $radius ) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin flex-column(){
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

@mixin flex-row(){
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

@mixin backgroundcontain ( $url ) {
    background: url( $url ) center center no-repeat /contain;
}

@mixin backgroundcover( $url ) {
    background: url( $url ) center center no-repeat /cover;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

body {
    font-family: 'Roboto', sans-serif;
}

.landing {
    padding-bottom: 60px;
}

.input-tile-landing {
    width: 800px;
    margin: auto;
    text-align: left;
    margin-bottom: 60px;
}

#delete-page {
    font-weight: 300;
    font-size: 15px;
    text-align: right;
    white-space: nowrap;
    color: #BDBDBD;
}

#delete-page:hover {
    color: #F44336;
}

.flex-delete-div {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 10px;
    padding-top: 10px;
}

.left-flex-delete {
    flex-basis: 100%;
}

.input-tile {
    width: 50%;
    padding-left: 4px;
    padding-bottom: 50px;
}

.hovertexttest {
    margin: 0 27px;
    border-left: 1.5px dashed #D1D4D4;
    width: 80%;
}

.hovertexttest:hover {
    outline: 1.5px dashed #D1D4D4;
    font-weight: 300;
}

.placeholderinputs {
    font-weight: 300;
    font-size: 15px;
}

.input-header-title {
    font-size: 30px;
    text-align: left;
    font-weight: 300;
    color: $green;
}

.input-description {
    font-weight: 300;
}
