@import "../../containers/App/App.scss";

.login-landing {
    @include backgroundcover( $loginlanding )
    min-height: 100vh;

    .login-container {
        height: 100vh;
        @include flex-column();

        .login-form-inputs {
            padding: 20px;
            opacity:.9;
            text-align: center;
            background: white;
            @include border-radius(3px);

            .row:nth-child(1) {
                div {
                    @include backgroundcontain( $logologin );
                    height:5vh;
                }
            }
        }
    }
}
