@import "../../containers/App/App.scss";

.compStatus-main {
    background-color: $sidebar2;
    overflow-y: auto;
    padding-right: 5px;

    .compStatus-selectedUser {
        font-weight: 300;
        text-align: center;
        padding-top: 20px;
        color: white;
        font-size: 18px;
    }

    .compStatus-selectedCompany {
        font-weight: 300;
        text-align: center;
        color: white;
        font-size: 11px;
    }

    .compStatus-links-box {
        width: 85%;
        margin:auto;

        .compStatus-links {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-around;
            margin: 20px auto;

            svg {
                height: 35px !important;
                width: 35px !important;
            }
        }
    }
    .compStatus-status {
        padding-top: 20px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
    }
}

.linearProgress {
    width: 80%;

    div {
        div {
            margin-left: 0;
        }
    }
}

.percentCompleted {
    text-align: center;
    padding-top: 20px;
    color: white;
}
