.linearProgress {
  width: 80%;
  margin: auto;
}
.percentCompleted {
  text-align: center;
  padding-top: 20px;
  color: white;
}
.compStatus-status {
  padding-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  margin: 20px auto;
}
.compstatus-main {
background-color: #004767;
height: calc(100vh - 84px);
margin-top: 1px;
}
.compstatus-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  margin-bottom: 20px;

}
.compStatus-selectedUser {
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
  color: #fafafa;
  font-size: 18px;
}
.compStatus-selectedCompany {
  font-weight: 300;
  text-align: center;
  color: #fafafa;
  font-size: 11px;
}
.compstatus-links svg {
  height: 35px !important;
  width: 35px !important;
}
.printButton svg {
  height: 35px !important;
  width: 35px !important;
}
.printButton {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px 25px 25px 0px;
}
.compstatus-links-box {
  width: 85%;
  margin: auto
}
